.header{
  margin: 1.3rem 0 2.5rem  0;
}

nav {
  display: flex;
  a {
    margin: 1.3rem 1.9rem;
    color: #707070;
    text-decoration: none;
  }
}

p {
  margin: 0;
  padding: 0;
  color: #707070;
  font: Regular 22px/25px Roboto;
  letter-spacing: 0;
}